.image1 {
  background-image: url("../assets/imgs/service1.png");
}

.image2 {
  background-image: url("../assets/imgs/service2.png");
}

.image3 {
  background-image: url("../assets/imgs/service3.png");
}

.image4 {
  background-image: url("../assets/imgs/service4.png");
}

.image5 {
  background-image: url("../assets/imgs/service5.png");
}
